# generated
output/
dist/

# vscode
.vscode/
printer/augprinter.code-workspace
.VSCodeCounter/

# python stuff
.venv/
__pycache__/
*.pyc

# binary packaging
dist
build
augprinter.spec

# old code that i left in the workspace for convenience
addtext.py
printerconfig.ini

# pytest framework
.pytest_cache

# augmented specific data
data/augmented
assets/art/Ancient Obol.png
assets/art/Bison.png
assets/art/Bloodied Varmint.png
assets/art/Foreign Enforcer.png
assets/art/Lammergeier.png
assets/art/Lammergier.png
assets/art/Nidhoggr.png
assets/art/Redundotron.png
