# generated
output/

# vscode
.vscode/
printer/augprinter.code-workspace

# python stuff
.venv/
__pycache__/
*.pyc

# old code that i left in the workspace for convenience
addtext.py
printerconfig.ini

# pytest framework
.pytest_cache
